 $primary: #3292a6;
 $primary-overlay: rgba(50,146,166,0.8);
 body
 {
   margin-top:105px;
 }
 .navbar
 {
   box-shadow: 2px 2px 5px $primary;
   opacity:0.9;
   background: #fff;
   .nav-item
   {
     padding-right: 20px;
     font-size: 1.4rem;
   }
 }

 #showcase
 {
   position: relative;
   background-image: url("../img/mountains.jpg");
   min-height: 600px;
   .primary-overlay
   {
    background: $primary-overlay;
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;

   }
 }
#info-header
{
  width: 50%;
  border-bottom:1px #ddd solid;
  margin:auto;
}
#authors
{
  img
  {
    margin-top: -50px;
  }
  .fa
  {
    font-size:25px;
  }
  .card:hover
  {
    background-color: $primary-overlay;
    color:#fff;
    .fa
    {
      color: #fff;
    }
  }
}
#main-footer
{
  background: $primary-overlay;
}
